<script type="text/javascript" charset="UTF-8" src="/redist/npm/ace-builds/src/ace.js"></script>
<script type="text/javascript">
  (function () {

    $(document).ready(function () {
      var editor = ace.edit("editor");

      function hasCalc(aPrefix) {
        var el = null;

        aPrefix = aPrefix || "";
        el = document.createElement("div");
        el.style.setProperty(aPrefix + "width", "calc(1px)", "");
        return !!el.style.length;
      }

      function hasAnyCalc() {
        return hasCalc("-moz-") || hasCalc("-ms-") || hasCalc("-o-") || hasCalc("-webkit-") || hasCalc();
      }

      function calcHeight() {
        return window.innerHeight - {{#newScript}}190{{/newScript}}{{^newScript}}303{{/newScript}};
      }

      editor.setTheme("ace/theme/dawn");
      editor.getSession().setMode("ace/mode/javascript");

      {{#readOnly}}editor.setReadOnly(true);{{/readOnly}}
      {{^readOnly}}
  function sendData() {
    var xhr = new XMLHttpRequest();
    var boundary = "--------------------oujs";
    var data = "";

    function addField(name) {
      if (!$('#' + name)) { return; }
      data += boundary + "\r\n";
      data += 'Content-Disposition: form-data; name="' + name + '"\r\n';
      data += '\r\n';
      data += $('#' + name).val() + "\r\n";
    }

    addField('url');
    addField('original');
    addField('script_name');
    data += boundary + "\r\n";
    data += 'Content-Disposition: form-data; name="source"; '
      + 'filename="script.user.js"\r\n';
    data += 'Content-Type: text/javascript;charset=UTF-8\r\n';
    data += '\r\n';
    data += editor.getValue() + '\r\n';

    data += boundary + '--';


    xhr.addEventListener('load', function(e) {
      alert(e.srcElement.status);
    });


    xhr.addEventListener('error', function(e) {
      alert('Error');
      alert(JSON.stringify(e));
    });

    xhr.open('POST', '{{#isLib}}/user/add/lib/new{{/isLib}}{{^isLib}}/user/add/scripts/new{{/isLib}}');
    xhr.setRequestHeader('Content-Type','multipart/form-data; boundary=' + boundary);
    xhr.send(data);
  }

  $('#submit_code').click(function() {
  sendData();
  });
      {{/readOnly}}

      // Older browser JavaScript work-around for #136
      if (!hasAnyCalc()) {
        $("#editor").height(calcHeight());
        $(document).on("resize", function () {
          $("#editor").height(calcHeight);
        });
      }
    });

  })();
</script>
